<h3>file index 화면입니다.</h3>

<form action="/file/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="title"><br>
    <input type="file" name="file_name"><br>
    <input type="submit" value="전송">
</form>