<%- include("../default/header") %><hr>

<form action="/member/login" method="post">
    <input name="id" type="text" placeholder="input id"><br>
    <input name="pwd" type="password" placeholder="input password"><br>
    <a href="/member/register_form">회원가입</a> <button>login</button>
</form>
